.messaging-container {
    display: flex;
    height: 90vh; /* Adjust the height as needed */
    border: 1px solid #ccc;
  }
  
  .conversations-list {
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    max-width: 200px;
    overflow-x: hidden;
  }
  
  .conversation {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }

  .conversation-select{
      padding: 20px;
      width: 100%;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
  }
  
  .conversation:hover {
    background-color: #f0f0f0;
  }
  
  .conversation-select:hover{
    background-color: #87bff9;
}

  .chat-header {
    height: min(100px, 10%);
    flex-basis:0;
    border-bottom: 1px solid #ccc;
    padding: 0px 10px;
    
    display: flex;
    flex-direction: row;
  }

  .chat-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }

  .message-list-wrapper {
    /* flex: 3; */
    overflow-y: auto;
    overflow-x: hidden;
    display:flex;
    flex-direction:column-reverse;
  }
  
  .message-list {
    padding: 10px;

    display:flex;
    flex-direction:column;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: gray;
    /* outline: 1px solid slategray; */
    border-radius: 30px;
  }
  
  .author {
    font-size: 13px;
  }

  .message-container {
    /* min-width: 10%; */
    max-width: 60%;
  }

  .message-container.other {
    align-self: flex-start;
  }

  .message-container.self {
    text-align: right;
    align-self: flex-end;
  }

  .message-content {
    margin-bottom:10px;
    padding: 10px;
    border-radius: 10px;
    text-wrap: wrap;
    word-break: break-all;
  }
  
  .self .message-content {
    background-color: #87bff9;
  }

  .other .message-content {
    background-color: #d3d3d3;
  }
  
  .message-input {
    margin-top: auto;
    display: flex;
    justify-self: flex-end;
  }
  
  .message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .message-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .chat-features {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end; /* Use this to align items to the right */
    align-items: center;
    gap: 10px; /* Controls spacing between children */
  }

  .chat-features button {
    padding: 10px 20px; 
    border: none; /* Removes the default border */
    background-color: #ffffff; /* Primary button color */
    color: rgb(14, 7, 7); /* Text color */
    font-size: 16px; /* Adjust based on your design */
    border-radius: 5px; /* Rounded corners for a modern look */
    cursor: pointer; /* Indicates an interactive element */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for interactions */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    margin-right: 10px;
  }



  .message-input button:hover {
    background-color: #0056b3;
  }


  button, .button {
    padding: 10px 20px; 
    border: none; /* Removes the default border */
    background-color: #ffffff; /* Primary button color */
    color: rgb(14, 7, 7); /* Text color */
    font-size: 16px; /* Adjust based on your design */
    border-radius: 5px; /* Rounded corners for a modern look */
    cursor: pointer; /* Indicates an interactive element */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for interactions */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  .feature-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px; /* Adjust this to create space on the right */
    left: 0; /* Adjust if you also want to control spacing from the left */
    background-color: #fff; 
    padding: 5px;
    display: flex;
    justify-content: flex-end; /* Use this to align items to the right */
    align-items: center;
    gap: 10px; /* Controls spacing between children */
  }


@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-50px); /* Adjust as needed for the start position */
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.request-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.request-modal-content input[type="text"] {
  height: 40px; /* Adjust to match button height */
  padding: 0 10px; /* Adjust padding to match button padding, if necessary */
  margin: 0 10px 10px 0; /* Adjust margins for spacing */
  border: 1px solid #ccc; /* Match border styling as buttons, if needed */
  border-radius: 5px; /* Rounded corners to match buttons */
}

.group-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.group-modal-content input[type="text"] {
  height: 40px; /* Adjust to match button height */
  padding: 0 10px; /* Adjust padding to match button padding, if necessary */
  margin: 0 10px 10px 0; /* Adjust margins for spacing */
  border: 1px solid #ccc; /* Match border styling as buttons, if needed */
  border-radius: 5px; /* Rounded corners to match buttons */
}

.invites-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
}

.invites-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.invites-modal-content input[type="text"] {
  height: 40px; /* Adjust to match button height */
  padding: 0 10px; /* Adjust padding to match button padding, if necessary */
  margin: 0 10px 10px 0; /* Adjust margins for spacing */
  border: 1px solid #ccc; /* Match border styling as buttons, if needed */
  border-radius: 5px; /* Rounded corners to match buttons */
}

.add-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-user-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-user-modal-content input[type="text"] {
  height: 40px; /* Adjust to match button height */
  padding: 0 10px; /* Adjust padding to match button padding, if necessary */
  margin: 0 10px 10px 0; /* Adjust margins for spacing */
  border: 1px solid #ccc; /* Match border styling as buttons, if needed */
  border-radius: 5px; /* Rounded corners to match buttons */
}